// Colors
$white: #fff;
$black: #0f172a; /* Section headings*/
$primary-color: #2563EB;
$light-primary-color: #38BDF8;
$light-blue-200: #dbeafe;
$light-blue-300: #EFF6FF;
$black-200:#F8F9FA; 
$black-300:#E9EBEF;
$black-400:#DEE2E6;
$black-500:#80828D;  
$black-600:#343A40;  /* Paragraph tex*/
$black-800:#1E1F24; /* Section sub headings*/
$light-grey:#BFBEBE;
$grey-200:#f2f2f2;
$gray: #80828D;
$yellow-600: #BFBEBE;



// boxshadow
$gray-border: 1px solid #E9EBEF;
$gray-border-200: 1px solid #EFF0F3;
$light-shadow:1px 0px 4px 4px rgba(137, 137, 137, 0.07);


// font-weight
$fw-extrabold: 800;
$fw-bold: 700;
$fw-semibold: 600;
$fw-medium : 500;
$fw-regular: 400;
$fw-light: 300;
$fw-extralight: 200;

// font-sizes
$hero-font: 64px;
$heading-font:46px;
$subheading-font: 42px;
$xxl-title-font: 36px;
$xl-title-font : 32px;
$lg-title-font: 28px;
$md-title-font: 24px;
$sm-title-font: 22px;
$xs-title-font : 20px;
$xxs-title-font: 18px;
$base-font: 16px;
$sm-base-font: 14px;
$xs-base-font: 12px;
