.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: $base-font;
    font-weight: $fw-medium;
    color: $white;
    cursor: pointer;
    border: none;
    gap: 4px;
}