@import "../common.scss";

// Blog content stat
.blog-page-section {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  overflow: hidden;
  background: $black-200;

  // Page Title Start
  .blog-title {
    position: relative;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #dee3e4;
    z-index: 11;
    padding: 16px 0;

    h2 {
      font-size: 56px;
      font-weight: 900;
      color: $black-800;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      line-height: 1.5;

      span {
        color: $light-primary-color;
      }

      @include mac {
        font-size: $heading-font;
      }

      @include tablet {
        font-size: $xxl-title-font;

      }

      @include mobile {
        font-size: $md-title-font;
        line-height: 1.2;
      }
    }

    .title-bg {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translateY(-50%);
      font-size: 110px;
      font-weight: 800;
      letter-spacing: 10px;
      line-height: 0.7;
      text-transform: uppercase;
      color: $black-400;
      opacity: 0.35;
      z-index: -1;
      pointer-events: none;

      @include mac {
        font-size: 92px;
        letter-spacing: 6px;
      }

      @include tablet {
        font-size: 68px;
        letter-spacing: 4px;
      }

      @include mobile {
        font-size: 36px;
        letter-spacing: 2px;
      }
    }
  }

  // Page Title end

  // blog card start
  .blog-list-wrapper {
    padding: 32px 0;

    .blog__card {
      border-radius: 8px;
      height: 100%;
      width: 100%;
      display: block;

      .img-wrapper {
        border-bottom: 5px solid $primary-color;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
        width: 100%;
        height: 250px;
        display: block;
        border-radius: 8px 8px 0 0;
        overflow: hidden;

        @include mobile {
          height: 200px;
        }

        img {
          width: 100%;
          height: 100%;
          border-radius: 8px 8px 0 0;
          transition: transform .4s ease; // IMPROVED transition
          object-fit: cover;
          object-position: center;
        }

        &:hover img {
          transform: scale(1.08);
        }
      }

      .blog-content {
        background-color: $black-400;
        padding: 20px 25px 25px;
        margin: 0;
        border-radius: 0px 0px 8px 8px;

        .entry-header {
          margin: 0;
          line-height: 1.5;
          cursor: pointer;
          color: $black;
          margin-bottom: 0.5rem;
          text-align: start;
          transition: color 0.3s ease;

          a {
            font-size: $xs-title-font;
            text-decoration: none;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-align: start;
            font-weight: $fw-semibold;
            color: $black;
            transition: color 0.3s ease;

            @include mobile {
              font-size: 16px;
            }

            &:hover {
              color: $light-primary-color;
            }
          }
        }


        .entry-content {
          margin-top: 15px;
          font-size: $base-font;
          font-weight: $fw-regular;
          margin-bottom: 0;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          color: $gray;

          @include mobile {
            font-size: 15px;
          }
        }
      }
    }

    .blog__article {
      width: 100%;
      margin: 40px auto;
      padding: 0 20px;

      .article--title {
        font-size: $xl-title-font;
        font-weight: $fw-semibold;
        color: $black;
        margin-bottom: 20px;
      }

      .article-banner__wrapper {
        display: block;
        width: 100%;
        height: auto;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
        padding: 0;

        .article-banner {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          background-repeat: no-repeat;
        }
      }

      .article-intro {
        font-size: 15px;
        font-weight: $fw-regular;
        color: $gray;
        line-height: 1.2;
        margin-bottom: 15px;
      }

      .article-sub__headding {
        font-size: 24px;
        font-weight: 500;
        color: $black;
        margin: 40px 0 15px;
      }

      .article-sub_content {
        font-size: 15px;
        font-weight: 400;
        color: $gray;
        line-height: 1.2;
        margin-bottom: 15px;
      }

      .article-list_wrapper {
        display: block;
        padding: 0;
        margin-left: 20px;

        .article-list {
          font-size: $sm-base-font;
          font-weight: 400;
          line-height: 1.2;
          color: $gray;
        }
      }

      .article-mini_heading {
        font-size: $xxs-title-font;
        color: $black;
        margin-top: 25px;
      }

      .article-part {
        margin-top: 30px;
      }

    }


  }

  // blog card end
}

//Blog content end