@import "../common.scss";


// fotter section start
.footer__section-wrapper {
    margin: 0;

    .footer__section-top {
        padding: 1rem 0;
        background-color: $black-500;

        .top-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer-image {
                display: block;
                width: 190px;
                height: 45px;
                cursor: pointer;
                overflow: hidden;

                img {
                    max-height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    background-repeat: no-repeat;
                    transition: 0.3s ease;
                }

            }

            .footer-social-link {
                display: flex;
                align-items: center;
                gap: 1.2rem;
                flex-wrap: wrap;

                .follow-me {
                    font-size: 1rem;
                    font-weight: 500;
                    color: $white;
                    letter-spacing: 0.5px;
                    margin: 0;
                    padding: 0;
                }

                .social-media {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding: 0;
                    margin: 0;
                    list-style: none;

                    .social-media_list {
                        display: flex;

                        .social-media_link {
                            width: 42px;
                            height: 42px;
                            background: #272626;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-decoration: none;
                            transition: 0.3s ease;


                            .media-icon {
                                font-size: 1.2em;
                                color: white;
                                transition: 0.3s ease;
                            }

                            :hover .media-icon {
                                color: #fff;
                            }

                        }

                        :hover {
                            background: #ffb400;
                            transform: translateY(-3px);
                        }
                    }
                }
            }
        }
    }

    .footer__section-bottom {
        background-color: #111;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: white;
        padding: 1.2rem 0;
    }

}

// footer section end