@import "../common.scss";

.blog-page-section {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    line-height: 1.6;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    overflow: hidden;

    .blog__wraper {
        visibility: visible;
        position: relative;
        overflow: auto;
        opacity: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        min-height: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;

        .blog-title {
            padding: 16px 25px 14px;
            background: #252525;
            border-bottom: 1px solid #333;
            margin-bottom: 36px;
            position: fixed;
            right: 0;
            left: 0;
            z-index: 11;
            top: 0;
            margin: 0 auto;
            width: 100%;
            text-align: center;

            h2 {
                font-size: 56px;
                font-weight: 900;
                color: #fff;
                text-transform: uppercase;
                margin: 0;
            }

            .title-bg {
                font-size: 110px;
                left: 0;
                letter-spacing: 10px;
                line-height: 0.7;
                position: absolute;
                right: 0;
                top: 50%;
                text-transform: uppercase;
                font-weight: 800;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                color: rgba(255, 255, 255, 0.07);
                z-index: -1;
            }
        }

       .main-content{
            padding-bottom: 85px;
       } 
    }
}